:root {
    --red: #e03838;
/*    --bgray:#e1e4e6;*/
    --bgray:#f7f7f7;
    --gray:#dfdfdf;
    --blue:#245269;
    --white:white;
    --black:#424242;
    --rgray:#dbbfbf;
}

a { color:inherit; }
a:hover { color:var(--gray); }
body { background-color:var(--white); font-size:1.5rem; }
.active { font-weight:500; }
.cd-timeline { margin:auto; }
.cd-timeline__content { background-color:var(--bgray); border:solid 1px var(--gray); }
.cd-timeline__img.cd-timeline__img--picture { background-color:var(--white); }
.cd-timeline__img img { min-width:60px; min-height:60px; position:initial; margin:auto; border-radius:50%; }
@media (max-width:1169px) {
    .cd-timeline__img img { min-width:40px; min-height:40px; }
    .row-reverse-xs { display:flex; flex-direction:row-reverse; }
}
.cd-timeline__read-more { margin-right:5px; }
.text-overflow { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.navbar { padding:1rem 2rem; font-size:1.8rem; box-shadow:0 0 15px var(--black); }
.navbar-brand { font-size:2rem; }
.navbar-blue { background-color:var(--blue); border-color:var(--blue); color:var(--bgray); }
