:root {
    --red: #e03838;
    --bgray:#e1e4e6;
    --blue:#245269;
    --white:white;
    --black:#424242;
    --rgray:#dbbfbf;
}

a { color:inherit; }
a:hover { color:var(--red); }
body { background-color:var(--white); font-size:1.5rem; }
.cd-timeline { margin:auto; }
.cd-timeline__content { background-color:var(--bgray) }
.cd-timeline__img img { min-width:60px; min-height:60px; position:initial; margin:auto; border-radius:50%; }
@media (max-width: 1169px) {
    .cd-timeline__img img { min-width:40px; min-height:40px; position:initial; margin:auto; border-radius:50%; }
    .row-reverse-xs { display:flex; flex-direction:row-reverse; }
}
.text-overflow { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.navbar { padding:1rem 2rem; font-size:1.8rem; box-shadow:0 0 15px var(--black); }
.navbar-brand { font-size:2rem; }
.navbar-blue { background-color:var(--blue); border-color:var(--blue); color:var(--bgray); }
