{% extends 'base.html.twig' %}

{% block navbar_brand -%}
    Compétence
{%- endblock %}

{% block content %}
    {% for category in categories if category.competences | length %}
        <div class='card card-info'>
            <div class='card-heading'>
                {{ category.name }}
            </div>
            <div class='card-body'>
                <div class='row'>
                    {% for competence in category.competences %}
                        <div class='col-sm-4 form-group'>{{ competence.name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}