{% extends 'base.html.twig' %}

{% block navbar_brand -%}
    Personnel
{%- endblock %}

{% block content %}
    {% for category in categories if category.personals | length %}
        <div class='card mb-4'>
            <div class='card-header'>
                {{ category }}
            </div>
            <div class='card-body'>
                <div class='row'>
                    {% for personal in category.personals %}
                        <div class='col-sm-12 mb-4'>{{ personal }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}